<div class="borda-window-poke window-poke">
    
      <p class="answer">A temperatura atual em @ViewBag.nameCity é @ViewBag.tempCity, e atualmente @ViewBag.taChovendo</p>

      <p>Um dos pokémons que pode aparecer em @ViewBag.nameCity é o @ViewBag.nomePokemon</p>


      <img src="@ViewBag.imagePoke"/> 

</div>  